:host {
  display: block;
  padding: 20px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(300px, 1fr));
  row-gap:80px;
  column-gap: 20px;
  align-items: stretch;
}