.main-title {
  text-align: center;
  font-size: 44px;
  font-weight: 800;
  margin: 50px 0 40px;
  font-family: 'Segoe UI', Arial, sans-serif;
  letter-spacing: 1px;
  position: relative;
}

.kaspi {
  color: #e60023;
  font-weight: 900;
}

/* Красивая линия снизу */
.main-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 4px;
  background: #e60023;
  margin: 15px auto 0;
  border-radius: 5px;
}
